.form-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper>.card {
    max-width: 300px;
}

.submit-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}